body{
  background-image: url("http://wallpoper.com/images/00/24/45/20/love-mathematics_00244520.jpg");
  background-size: 100%;
  width: 100%;
}

h1{
  color: red;
  font-size: 4em;
  font-family: 'Shadows Into Light', cursive;
}

.center{
  /*background-color: rgba(225, 225, 225, 0.6);*/
  text-align: center;
  width: 70%;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  margin: auto;
}

#num_one{
  border-color: red;
}

#num_two{
  border-color: red;
}

.answer{
  color: #66FF66;
}

img{
  width: 15em;
}